*.iml
*.deb
.sonar
debian/changelog
debian/debhelper-build-stamp
debian/files
debian/site-builder
debian/site-builder.debhelper.log
debian/site-builder.substvars
node_modules
npm-debug.log
out
.idea
**/.DS_Store

