{{>head}} {{>header-with-search}}
<!-- Start status.hbs -->
<div class="container content-area">
    <div class="row">
		<article>
			<h1>Error: {{statusCode}}</h1>
			{{message}}
		</article>
	</div>
</div>
<!-- End status -->
{{>footer}}
{{>footer-scripts}}
